
.container {
background-color: aquamarine;
}

img {
  height: 200px;
  width: 200px:
}
#choices {
    width: 100%;
    
  }
  
  #players {
    background-color: bisque;
    width: 20%;
    float: left;
    border-left: solid 1px black;
  }
  
  #score {
    float: right;
    text-align: left;
  }